<div class="text-center">
    <h1 class="text-danger">Acceso Denegado</h1>
    <h6 class="text-danger">No tienes permiso para ver este recurso</h6>
    <img src="~/images/gratis-png-iconos-de-computadora-agar-io-acceso-denegado.png" 
         style="height:400px;width:600px"/>
</div>